.jumbotron {
    padding: 50px 40px;
    color: #fff;
    text-align: right;
    text-color: green;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background-color:#3f3f3f;

}
.jumbotron h1 {
  color: #3c3b3b;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  color: #3c3b3b;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}
.jumbotron-right {
  float: right;
  width: 235px;
  position: inherit;
}
/* Footer
-------------------------------------------------- */

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #e1e1e1;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/*Maps */
.map-hero {
  padding: 60px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.map-container {
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.map-container:before,
.map-container:after {
  display: table;
  line-height: 0;
  content: "";
}

.map-container:after {
  clear: both;
}

.map-container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1; 
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto 
}